body {
  padding: 100px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

body .users-column {
  display: inline-block;
  margin-right: 2em;
  vertical-align: top;
}

body .users-column .column-header {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 1.2em;
}

body .add-user-col input {
  margin-bottom: 10px;
}

body .users-column .user-display-ele {
  padding-bottom: 10px;
}

body .users-column .user-display-ele button {
  margin-top: 2px;
  margin-bottom: 10px;
}

body .users-column .user-display-ele .edit-view {
  display: none;
}

span.published {
  color: #ffffff;
  font-weight: 700;
  background: #007938;
  border-radius: 5px;
  padding: 3px 7px;
}

span.not-published {
  color: #ffffff;
  font-weight: 700;
  background: #a85a00;
  border-radius: 5px;
  padding: 3px 7px;
}
